#map{
    width: 100%;
    height: 100%;
}

  
  .marker {
   
/* Örnek CSS Stili */
.marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #4285f4;
  border: 4px solid #fff;
  cursor: pointer;
  }
  
  }
  
 